compiler/build/*
!compiler/build/bin/
compiler/build/bin/*
!compiler/build/bin/.gitkeep
_*.txt
_*.py
_*.s
_*.il
_*.exe
_*_test.jhyy
_*_min.jhyy
_*_minimal_*.jhyy
compiler/tests/examples/_*.jhyy
compiler/tests/examples/_*.exe
compiler/tests/examples/_*.il
compiler/tests/examples/_*.s
*.o
*.exe
*.ilk
*.pdb
# 忽略 Claude Code 本地配置
.claude
# 忽略 Claude Code 生成的 markdown 文件
CLAUDE.md